* {
    margin: 0;
    padding: 0;
}
body {
     height: 100vh;
     width: 100vw;
}
.score {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns {
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.btn1h , .btn2h , .btn3h {
    height: 5em;
    width: 5em;

    align-items: flex-start;
    justify-content: flex-start;
}
.btn1a , .btn2a , .btn3a {
    height: 5em;
    width: 5em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}