* {
    margin: 0;
    padding: 0;
}
.tablica {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wynik {
    display: flex;
    flex-direction: row;
    border: 3px solid blueviolet;
}
.timer {
    border: 3px solid aquamarine;
}

.menu {
    height: 25vh;
    width: 100%;
    display: flex;
    font-size: 0;
}
.btnsH {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.btnsA {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.btn1h, .btn2h, .btn3h, .btn1a , .btn2a, .btn3a {
    height: 3em;
    width: 3em;
}
.centralMenu {
    width: 3em;
    height: 3em;
    justify-content: center;
}