* {
    margin: 0;
    padding: 0;
}
.tablica {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wynik {
    display: flex;
    flex-direction: row;
    border: 3px solid blueviolet;
}
.timer {
    border: 3px solid aquamarine;
}

.menu {
    height: 25vh;
    width: 100%;
    display: flex;
    font-size: 0;
}
.btnsH {
    display: flex;
    flex-direction: column;
}
.btnsA {
    display: flex;
    flex-direction: column;
}
.btnsH div {
    width: 3em;
    height: 3em;
}
.btnsA div {
    width: 3em;
    height: 3em;
}
.centralMenu {
    width: 3em;
    height: 3em;
    justify-content: center;
}