* {
    margin: 0;
    padding: 0;
}
body {
     height: 75%;
     width: 100%;
}
.tablica {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wynik {
    flex-direction: column;
    border: 3px solid blueviolet;
}
.timer {
    border: 3px solid aquamarine;
}

.menu {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0;
}
.btnsH {

}
.btnsA {

}
.btnsH div {
    width: 5em;
}
.btnsA div {
    width: 5em;
}
.btn1h , .btn2h , .btn3h , .btn1a , .btn2a , .btn3a{
    height: 5em;
    width: 5em;
}