* {
    margin: 0;
    padding: 0;
}
body {
     height: 100vh;
     width: 100vw;
}
.score {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.btnsH {
}
.btnsA {

}
.btnsH div {
    width: 5em;
}
.btnsA div {
    width: 5em;
}
.btn1h , .btn2h , .btn3h , .btn1a , .btn2a , .btn3a{
    height: 5em;
    width: 5em;
}